.feature {
    background-color: #F2F3F3;
    .feature-list {
        padding-top: 20px;
        @include overTab {
            padding-top: 50px
        }
    }
    .feature-item {
            flex-flow: column-reverse;
            display: flex;
            padding: 0 20px 15px;
            
            @include overTab {
                flex-flow: row;
                padding: 0;
            }
        &:nth-child(odd) {
            @include overTab {
                flex-flow: row-reverse;
            }
            .feature-text {
                @include overTab {
                    padding-left: 30px;
                }
            }
        }
        &:nth-child(even) {
            padding: 30px 0;
            @include overTab {
                flex-direction: row;
            }
            .feature-text {
                @include overTab {
                    padding-right: 30px;
                }
            }
        }
        .feature-text {
            padding: 40px 30px 0;
            line-height: 1.5;
            @include overTab {
                width: 550px;
            }
        }
        .feature-title {
            font-size: 1.6rem;
            color: cl(black);
            font-weight: bold;
            @include overTab {
                font-size: 2rem;
            }
        }
        .feature-desc {
            padding-top: 10px;
            color: cl(darkgrey);
            font-size: 1.2rem;
            @include overTab {
                font-size: 1.6rem;
            }
        }
        .btn {
            margin: 20px auto 0;
            @include overTab {
                margin-top: 50px;
            }
        }
    }
    .feature-image {
        @include overTab {
            width: percentage(550 / 1100);
        }
        img {
            height: 350px;
        }
    }
}