.section-wrapper {
    padding: 60px 0;
}

.content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
.section-title{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 10px;
    @include overTab {
        font-size: 4rem;
        padding: 0 0 20px;
    }
}

.lines {
    line-height: 2;
}

.btn-link {
    cursor: pointer;
    a {
        color: cl(white);
        font-weight: bold;
        background-color: cl(orange);
        font-size: 1rem;
        width: 120px;
        line-height: 30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 1px 1px 1px cl(grey);
        @include overTab {
            font-size: 1.5rem;
            width: 170px;
            line-height: 45px;
        }
        &:hover {
            background: hsl(16,100%,50%);
            transition: 0.3s;
        }
    }
}


.fadein {
    opacity: 0;
}
.scrollin {
    animation-name: scrollin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes scrollin {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}


.downup {
    transform: translateY(50px);
}